apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: flask-ingress
  namespace: default
spec:
  rules:
  - host: flask-app.ubuntuarm1.duckdns.org  # <--- ESTO ES CRÃTICO
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: flask
            port:
              number: 80