grafana:
  enabled: false  # ya lo instalaste por separado

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    retention: 7d

alertmanager:
  enabled: true
  alertmanagerSpec:
    replicas: 1

defaultRules:
  create: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
